# Python cache
__pycache__/

# Environment files
.env

# Virtual environment
venv/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl